<div class="py-6">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
    <h1 class="text-2xl font-semibold text-gray-900">
      Let's add your property's information
    </h1>
  </div>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
    <!-- Replace with your content -->
    <%= form_for @property, html: { class: "space-y-8 divide-gray-200" } do |f| %>
      <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">

        <div class="pt-8 space-y-6 sm:pt-10 sm:space-y-5">
          <div>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">A property can be a building or a multi family home</p>
          </div>
          <div class="space-y-6 sm:space-y-5">

            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
              <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Cover photo</label>
              <div class="mt-1 sm:mt-0 sm:col-span-2">
                <div class="max-w-lg flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                  <div class="space-y-1 text-center">
                    <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                      <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="flex text-sm text-gray-600">
                      <label class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                        <span>
                          <%= f.label :photo, 'Upload a file' %>
                        </span>
                        <%= f.file_field :photo, multiple: false, class: "sr-only" %>
                      </label>
                      <p class="pl-1">or drag and drop</p>
                    </div>
                    <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
              <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                <%= f.label :building_name, 'Property name' %>
              </label>
              <div class="mt-1 sm:mt-0 sm:col-span-2">
                <%= f.text_field :building_name, value: "E.g One World Trade Center", class: "block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md" %>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
              <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                <%= f.label :address, 'Street address' %>
              </label>
              <div class="mt-1 sm:mt-0 sm:col-span-2">
                <%= f.text_field :address, value: "E.g 285 Fulton St", class: "block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md" %>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
              <label for="city" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                <%= f.label :city, 'City' %>
              </label>
              <div class="mt-1 sm:mt-0 sm:col-span-2">
                <%= f.text_field :city, value: "E.g New York", class: "max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
              <label for="region" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                <%= f.label :state, 'State / Province' %>
              </label>
              <div class="mt-1 sm:mt-0 sm:col-span-2">
                <%= f.text_field :state, value: "E.g NY", class: "max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
              <label for="postal-code" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                <%= f.label :zipcode, 'ZIP / Postal code' %>
              </label>
              <div class="mt-1 sm:mt-0 sm:col-span-2">
                <%= f.text_field :zipcode, value: "E.g 10007", class: "max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
              <label for="country" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                <%= f.label :country, 'Country' %>
              </label>
              <div class="mt-1 sm:mt-0 sm:col-span-2">
                <%= select_tag(:country, options_for_select(['United States', 'Canada', 'Mexico'], 'United States'), class: "max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md")%>
              </div>
            </div>

            <div class="sm:border-t sm:border-gray-200 sm:pt-5">
              <div>
                <label for="comment" class="block text-sm font-medium text-gray-700">Add your notes</label>
                <div class="mt-1">
                  <textarea rows="4" name="comment" id="comment" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"></textarea>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="pt-5">
        <div class="flex justify-end">
          <%= link_to 'Cancel', properties_path, class: "bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
          <%= f.submit "Save", class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>
      </div>
    <% end %>

    <!-- /End replace -->
  </div>
