<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900"><%= unit.apartment_name %></h3>
  </div>
  <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
    <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Unit ID</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= unit.id %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Status</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= unit.status %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Monthly Rent</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= unit.monthly_rent %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Rooms</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= unit.rooms %></dd>
      </div>
      <div class="sm:col-span-2">
        <dt class="text-sm font-medium text-gray-500">Notes</dt>
        <dd class="mt-1 text-sm text-gray-900">
          <%= unit.notes.body.to_plain_text %>
        </dd>
      </div>
      <div class="sm:col-span-2">
        <dt class="text-sm font-medium text-gray-500">Attachments</dt>
        <dd class="mt-1 text-sm text-gray-900">
          <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">
            <% unit.notes.embeds_blobs.each do |file| %>
              <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                <div class="flex w-0 flex-1 items-center">
                  <!-- Heroicon name: mini/paper-clip -->
                  <svg class="h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                  </svg>
                  <span class="ml-2 w-0 flex-1 truncate"><%= file.filename %></span>
                </div>
                <div class="ml-4 flex-shrink-0">
                  <%= link_to 'Download', rails_blob_path(file, disposition: "attachment"), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
                </div>
              </li>
            <% end %>
          </ul>
        </dd>
      </div>
    </dl>
  </div>
</div>
